/* Menu bar color */
    /* Desktop */
        header .main-header .main-navigation:before {
            background: #d47137;
        }
    /* Mobile */
        @media screen and (max-width:1200px)
        {
            #mobile-nav{background:#d47137;}
            .mobile-sidenav-open header .main-header .main-navigation{background:#d47137;}
            .mobile-sidenav-open .dropdown-item{color:#d47137;}
        }

/* Menu bar highlight color */
    header .main-header .main-navigation .navbar-nav li:after {
        background: #006633;
    }

/* Banner search button background color */
    #content .banner-section .search-heading .search-form-wrapper .submit-wrap {
        background: #d47137;
    }