/* Menu bar color */
    /* Desktop */
        header .main-header .main-navigation:before {
            background: #00838f;
        }
    /* Mobile */
        @media screen and (max-width:1200px)
        {
            #mobile-nav{background:#00838f;}
            .mobile-sidenav-open header .main-header .main-navigation{background:#00838f;}
            .mobile-sidenav-open .dropdown-item{color:#00838f;}
        }

/* Menu bar highlight color */
    header .main-header .main-navigation .navbar-nav li:after {
        background: #006633;
    }

/* Banner search button background color */
    #content .banner-section .search-heading .search-form-wrapper .submit-wrap {
        background: #00838f;
    }

/* Calls to Action Header */
    div.banner-section div.container div#cta-wrapper ul li {
        border-color:#00838f;
    }